.skills-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 40px;
    color: #000;
}

.skills-underline{
    width: 100px;
    height: 8px;
    background-color: #60b8b0;
    position: relative;
  }

  .skills-box{
      background-color:#fff;
      height:500px;
      width:950px;
      padding: 50px;
      color:#60b8b0;
      font-family: 'Montserrat', sans-serif;

  }


.other-skills{
 font-size: 10px;  
 flex-direction: column;
 letter-spacing: 5px; 
 text-align: center;

 
}
  .icons{
      align-items: center;
      text-align: center;
      font-size: 100px;
     
  }
  .icons>img{
      width:84px;
      padding-right: 20px;
      
  }

  .fab{
    padding-right: 38.5px;
    height: 2px;
  }
  .fa-css3-alt{
      padding-left:20px;
  }

 